fastapi
azure.messaging.webpubsubservice
fastapi_socketio
uvicorn
websockets
asyncio
azure.messaging.webpubsubclient
asyncio
numpy
pydantic
azure-identity
opencv-python-headless
imutils==0.5.4
requests
